*{
margin:0;
padding:0;
}

fieldset{
font-size:0px;
}

body{
width:100%;
height:100%;
overflow:hidden;
}

/* login */
#login-panel{
display:block;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

#login-form{
position:absolute;
top:50%;
left:50%;
width:320px;
height:160px;
margin-top:-100px;
margin-left:-160px;
}

#login-note{
width:320px;
color:#333333;
font:normal 13px/28px sans-serif;
text-align:center;
}

#username-box{
width:320px;
height:48px;
border:none;
}

#username{
width:230px;
height:20px;
margin:4px 40px;
padding:10px 4px;
border:solid 1px #999999;
outline:none;
font:normal 16px/20px sans-serif;
}

#login-error{
display:none;
font:normal 12px/18px sans-serif;
color:#FF0000;
text-align:center;
}

#login-box{
width:96px;
height:32px;
margin:8px 112px;
background:#DDDDDD;
text-align:center;
font:normal 16px/32px sans-serif;
}

#login{
display:block;
width:100%;
height:100%;
color:#333333;
text-decoration:none;
}

#login:hover{
text-decoration:underline;
}

/* main */
#main{
display:none;
position:absolute;
top:0;
left:0;
overflow:hidden;
}

#show{

}

#view{
background:#CCCCCC;
}

#slides{
display:block;
position:absolute;
top:50%;
left:50%;
}

#lists{
position:absolute;
top:0;
right:0;
width:240px;
background:#000000;
}

#lists-view{
position:absolute;
top:0;
left:0;
width:240px;
background:#F4F4F0;
}

#comments.current, #users.current{
display:block;
}

#comments{
display:none;
width:240px;
height:inherit;
overflow-x:hidden;
overflow-y:scroll;
list-style-type:none;
}

.comment{
padding:4px 8px;
border-bottom:solid 1px #AAAAAA;
color:#333333;
font:normal 15px/24px sans-serif;
word-break:break-all;
}

#users{
display:none;
width:240px;
height:inherit;
overflow-x:hidden;
overflow-y:scroll;
list-style-type:none;
}

.user{
padding:4px 8px;
color:#333333;
font:normal 15px/24px sans-serif;
word-break:break-all;
}

.user:nth-child(even){
background:#F0F0F0
}

#lists-ctr{
position:absolute;
bottom:0;
left:0;
width:240px;
height:24px;
overflow:hidden;
background:#666666;
list-style-type:none;
}

.lists-ctr-btn{
float:left;
width:120px;
height:24px;
}

.lists-ctr-btn a{
display:block;
width:100%;
height:100%;
background:#666666;
color:#FFFFFF;
font:normal 12px/24px sans-serif;
text-align:center;
text-decoration:none;
}


#open-comments.current, #open-users.current{
color:#333333;
background:#F4F4F0;
}

.lists-ctr-btn a:hover{
text-decoration:underline;
}

#message-form{
position:absolute;
bottom:0;
left:0;
height:60px;
background:#F0F0F0;
}

#message-box{
position:absolute;
top:10px;
left:10px;
height:40px;
border:none;
}

#message{
position:absolute;
top:0;
left:0;
height:18px;
padding:10px 8px;
border:solid 1px #999999;
outline:none;
color:#333333;
font:normal 16px/18px sans-serif;
}

#send-box{
position:absolute;
top:10px;
right:10px;
width:96px;
height:40px;
}

#send{
display:block;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:#999999;
color:#FFFFFF;
font:normal 16px/40px sans-serif;
text-align:center;
text-decoration:none;
}

#send:hover{
text-decoration:underline;
}