doctype 5
html(lang='ja')
  head
    meta(charset='UTF-8')
    title Log
    link(rel='stylesheet', href='/css/log.css', type='text/css')
body
  h1 Log
  ul#log
  script(type='text/javascript', src='/js/jquery.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/clients/log.js')